.about{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    background-color: red;
    padding: 1rem;
    padding-bottom: 0;
    background-color: var(--bgColor-grey);
}
.about h2{
    font-size: var(--fontSize-header);
    font-weight: var(--fontWeight-header);
    line-height: 57px;
    margin-top: 1rem;
}
.about p{
    max-width: 500px;
    text-align: center;
    font-size: var(--fontSize-paragraph);
    font-weight: var(--fontWeight-paragraph);
    line-height: 20px;
    color: var(--fontColor-grey);
}
.about-Cards{
    width: 90%;
    min-width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1px;
    gap: 1rem;
}
.about-Cards .card{
    width: 230px;
    height: 200px;
    background-color: var(--color-white);
    border-radius: 2px;
    padding: 30px 30px 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.about-Cards .card h2{
    font-size: var(--fontSize-header);
    font-weight: var(--fontWeight-header);
}
.about-Cards .card h5{
    font-size: 16px;
    font-weight: var(--fontWeight-header);
    color: var(--fontColor-grey);
}
.about-Cards .card:hover{
    box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.15);
    transition: .1s linear;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -ms-transition: .1s linear;
    -o-transition: .1s linear;
}