nav{
    width: 100%;
    display: flex;
    height: 110px;
    position: fixed;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black !important;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
}
.activeLink{
    color: black !important;
}
nav.shrink{
    height: 80px;
    background-color: var(--color-white);
}
.navOpen.shrink{
    color: black !important;
}
nav.shrink ul li a{
    color: var(--fontColor-grey);
}
nav .logo{
    margin-left: 5rem;
    font-size: 24px;
    font-weight: 700;
}
nav .navToggle{
    margin-right: 5%;
    width: 25px;
    height: 25px;
    display: none;
}
nav ul{
    display: inline-block;
    list-style: none;
    margin-right: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    float: left;
    margin: .75rem;
}
nav ul li a{
    text-decoration: none;
    font-size: var(--fontSize-paragraph);
    color: var(--color-white);
    font-weight: 600;
}